@keyframes animacao{
    from{
        background-position-x: 0px ;
    }
    to{
        background-position-x: -384px;
    }
}

.texto{
    color: honeydew;
    font-family: 'VT323', monospace;
    font-size: 2.2em;
}